	views/users/index.html 

			
	<div class="col-md-8 offset-md-1">
		<h2>Users</h2>
		    	<table class="table table-striped">
		      		<thead>
		        		<tr align="center">
		          			<th>image</th>
		          			<th>name</th>
		          			<th colspan="3"></th>
		        		</tr>
		    		  </thead>
		    		  <!--繰り返し-->
		    		  <tbody>
                
              <!--繰り返しここまで-->
		    	</table>
	</div>
	